@media screen and (min-width: 993px) {
    .fa-bars {
        display: none;
    }
    .contributors>.col-12 img {
        width: calc(80% / 6);
    }
    .jumbotron>.row>.col-7, .jumbotron>.row>.col-5 {
        height: 450px;
    }
    .container .header-row .col-8 img:last-of-type {
        display: none;
    }
    /* CAROUSEL */
    .carousel-loader li {
        padding-bottom: 80px;
    }
}