@media screen and (min-width: 481px) and (max-width: 992px) {
    
    /* HEADER */
    .header-menu {
        display: none;
    }
    .fa-bars {
        color: #016BFF;
        position: absolute;
        right: 10%;
        top: 25px;
    }
    .container .header-row .col-8 img:first-of-type {
        display: none;
    }
    .contributors>.col-12 img {
        width: calc(80% / 6);
    }
    .col-4 ul {
        margin-left: 10%;
    }
    .vertical-divider {
        left: -10px;
    }
    .col-8 .row .card {
        width: 100%;
        margin-bottom: 10px;
    }
    .col-8 .row .card:first-of-type {
        margin-top: 10px;
    }
    /* CAROUSEL */
    .carousel .row .col-mid-4>img {
        max-width: 65%;
        position: relative;
    }
    .carousel .row .fa-angle-left {
        position: absolute;
        left: 70px;
    }
    .carousel .row .fa-angle-right {
        position: absolute;
        right: 70px;
    }
    .carousel p:first-of-type {
        display: inline-block;
        width: 70%;
    }
    .carousel p:last-of-type {
        display: inline-block;
        width: 65%;
        margin-bottom: 100px;
    }
    .carousel .col-mid-4:first-of-type {
        justify-content: flex-start;
        margin-right: 5px;
        font-size: 3rem;
    }
    .carousel ul {
        padding-bottom: 50px;
    }

    /* BENCHMARK */
    .benchmark .row .col-6>.col-12 {
        width: 100%;
    }
    .benchmark .row .col-6 {
        margin: 10px 0;
    }

    /* ABOUT US */
    .slideshow {
        height: 380px;
    }
}