@media screen and (max-width: 480px) {
    /* HEADER */
    .header-menu {
        display: none;
        position: relative;
    }
    .fa-bars {
        color: #016BFF;
        position: absolute;
        right: 10%;
        top: 25px;
    }
    .container .header-row .col-xs-3 img:last-of-type {
        display: none;
    }
    .container .header-row .col-xs-3 img:first-of-type {
        max-height: 40%;
    }
    .contributors img {
        width: 40%;
        align-items: center
    }
    .deploy h2 {
        font-size: 26px;
        margin-bottom: 5px;
    }
    .jumbotron-form p {
        padding: 10px 0;
        margin: 0;
    }
    .deploy p {
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .col-8 .row {
        flex-wrap: wrap;
    }
    .col-4 ul {
        margin-left: 10%;
    }
    .vertical-divider {
        left: -10px;
    }
    .col-8 .row .card {
        width: 100%;
        margin-bottom: 10px;
    }
    .col-8 .row .card:first-of-type {
        margin-top: 10px;
    }
    /* CAROUSEL */
    .carousel .row .col-6>img {
        max-width: 65%;
    }
    .carousel p:first-of-type {
        display: inline-block;
        width: 70%;
    }
    .carousel p:last-of-type {
        display: inline-block;
        width: 65%;
        margin-bottom: 100px;
    }
    .fa-angle-left, .fa-angle-right {
        display: none;
    }
    .carousel ul {
        padding-bottom: 50px;
    }
    /* FEATURES */
    .benchmark-row h2 {
        padding-top: 50px;
        font-size: 19px;
    }
    .benchmark .row .col-6>.col-12 {
        width: 100%;
        font-size: 0.5rem;
    }
    .benchmark .row .col-6 {
        margin: 10px 0;
    }
    /* ABOUT US */
    .slideshow {
        height: 250px;
    }
    .slideshow img {
        padding: 0;
        max-width: 100%;
    }
    .slideshow p {
        font-size: 0.85rem;
    }
    .slideshow h4 {
        font-size: 0.75rem;
    }
        /* FOOTER */
        footer .col-xs-12 ul {
            padding: 20px 0;
        }
}