@media screen and (min-width: 993px) {
    .fa-bars {
        display: none;
    }
    .contributors>.col-12 img {
        width: calc(80% / 6);
    }
    .jumbotron>.row>.col-7, .jumbotron>.row>.col-5 {
        height: 450px;
    }
}