/* GENERALI */

body {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

.font-blue {
    color: #586788;
}

.font-deepblue {
    color: #016BFF
}

.font-white {
    color: white;
}

.background-blue {
    background-color: #F3F5F9;
}

.btn-outline {
    border: 1px solid #8BBCFF;
    color: #8BBCFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-outline:hover {
    border: 1px solid white;
    color: white;
    background-color: #8BBCFF;
    transition: 0.5s;
}

.btn-solid {
    border: 1px solid #579AFF;
    background-color: #579AFF;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.btn-shadow {
    border-radius: 5px;
    padding: 5px;
}

.pd-5px {
    padding: 5px;
}

.mg-bot-5px {
    margin-bottom: 5px;
}
.mg-top-5px {
    margin-top: 5px;
}
.mg-bot-10px {
    margin-bottom: 10px;
}
.mg-top-10px {
    margin-top: 10px;
}

.centered {
    margin: auto;
}

.dbg {
    background-color: black;
}

/* HEADER */

.header-menu>li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
}

.header-row {
    width: 80%;
    height: 60px;
    color: white;
}

.header-row>.col-2>img {
    height: 40px;
}

.header-menu, .header-row>.col-2 {
    align-items: center;
}

.header-row>.col-6>ul>li, .header-row>.col-4>ul>li {
    margin: 10px;
}

.header-row>.col-6>ul>li:hover, .header-row>.col-4>ul>li:hover {
    cursor: pointer;
}

.header-row>.col-4 {
    justify-content: flex-end;
}

/* /HEADER */
.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}
/* MAIN */
/* header left column */

.jumbotron>.row>.col-7, .jumbotron>.row>.col-5 {
    height: 450px;
}
.jumbotron .col-7 {
    justify-content: center;
    flex-direction: column;
}
.jumbotron>.row {
    width: 80%;
    height: 100%;
    margin: auto;
}
.col-7>h1 {
    font-weight: 500;
    font-size: 60px;
    width: 90%;
}
.col-7>p {
    width: 90%;
    font-size: 20px;
}

/* header right column and form */
.jumbotron-form {
    margin: 50px 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.jumbotron-form>h2:first-of-type {
    padding-top: 40px;
}
.jumbotron-form p {
    font-size: 12px;
    margin-top: 20px;
}
.jumbotron-form input {
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
}
form button {
    width: 90%;
}
form button:hover {
    cursor: pointer;
}
form>.btn-shadow {
    position: relative;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 1.5px 1.5px lightgrey
}
form button>img {
    position: absolute;
    height: 20px;
    left: 5px;
    top: 2px;
}
/* contributors */
.contributors {
    width: 100%;
    background-color: #F3F5F9;
    text-align: center;
}
.contributors a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
}

.contributors h2 {
    font-size: 18px;
    color: grey;
    padding-top: 40px;
}
.contributors>.col-12 {
    justify-content: center;
    align-content: flex-start;
}
.contributors>.col-12 img {
    width: calc(80% / 6);
}

.deploy {
    width: 100%;
    background-color: white;
    height: 500px;
}