/* GENERALI */

body {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

.font-blue {
    color: #586788;
}

.font-deepblue {
    color: #016BFF
}

.font-ultrablue {
    color: #031C4E
}

.font-white {
    color: white;
}

.font-grey {
    color: #687591;
}

.background-blue {
    background-color: #F3F5F9;
}

.btn-outline {
    border: 1px solid #8BBCFF;
    color: #8BBCFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-outline:hover {
    border: 1px solid white;
    color: white;
    background-color: #8BBCFF;
    transition: 0.5s;
}

.btn-solid {
    border: 1px solid #579AFF;
    background-color: #579AFF;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.btn-shadow {
    border-radius: 5px;
    padding: 5px;
}

.pd-5px {
    padding: 5px;
}

.mg-bot-5px {
    margin-bottom: 5px;
}

.mg-top-5px {
    margin-top: 5px;
}

.mg-bot-10px {
    margin-bottom: 10px;
}

.mg-top-10px {
    margin-top: 10px;
}

.centered {
    margin: auto;
}

.text-centered {
    text-align: center;
}

.dbg {
    background-color: black;
}

/* HEADER */

.header-menu>li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
}

.header-row {
    width: 80%;
    height: 60px;
    color: white;
}

.header-row>.col-8>img {
    height: 40px;
}

.header-menu, .header-row>.col-8 {
    align-items: center;
}

.header-row>.col-8>ul>li, .header-row>.col-4>ul>li {
    padding: 5px;
}

.header-row>.col-8>ul>li:hover, .header-row>.col-4>ul>li:hover {
    cursor: pointer;
}

.header-row>.col-4 {
    justify-content: flex-end;
}

/* /HEADER */

.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

/* MAIN */

/* header left column */

.jumbotron .col-7 {
    justify-content: center;
    flex-direction: column;
}

.jumbotron>.row {
    width: 80%;
    height: 100%;
    margin: auto;
}

.col-7>h1 {
    font-weight: 500;
    font-size: 60px;
    width: 90%;
}

.col-7>p {
    width: 90%;
    font-size: 20px;
}

/* JUMBOTRON AND FORM */

.jumbotron-form {
    margin: 50px 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.jumbotron-form>h2:first-of-type {
    padding-top: 40px;
}

.jumbotron-form p {
    font-size: 12px;
    margin-top: 20px;
}

.jumbotron-form input {
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
    padding-left: 5px;
}

form button {
    width: 90%;
}

form button:hover {
    cursor: pointer;
}

form>.btn-shadow {
    position: relative;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 1.5px 1.5px lightgrey
}

form button>img {
    position: absolute;
    height: 20px;
    left: 5px;
    top: 2px;
}

/* contributors */

.contributors {
    width: 100%;
    background-color: #F3F5F9;
    text-align: center;
}

.contributors a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
}

.contributors h2 {
    font-size: 18px;
    color: grey;
    padding-top: 40px;
}

.contributors>.col-12 {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contributors>.col-12>img {
    height: 100%
}

/* deploy */

.deploy {
    width: 100%;
    text-align: center;
    background-color: white;
}

.deploy h2 {
    color: #041D4F;
    font-weight: bold;
    font-size: 35px;
    padding-top: 80px;
}

.deploy p {
    display: inline-block;
    width: 80%;
    font-size: 23px;
    margin: 20px 0 50px 0;
}

.deploy .col-4, .deploy .col-8 {
    border: 1px solid white;
}

.deploy .row {
    width: 80%;
    margin: auto;
    position: relative;
}

.col-4 ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
}

.deploy-links li {
    padding-bottom: 25px;
}

.deploy-links li:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.vertical-divider {
    position: absolute;
    display: inline-block;
    width: 1px;
    background-color: grey;
    height: 250px;
    left: 80px;
    top: -5px
}

/* deploy - card section */

.col-8 .row {
    width: 100%;
}

.deploy .card {
    width: 50%;
    border: 1px solid white;
    text-align: left;
}

.deploy .card h4 {
    color: grey;
}

.deploy .card p {
    font-size: 14px;
}

/* CAROUSEL */

.carousel {
    width: 100%;
    text-align: center;
}

.carousel .row .col-6 {
    justify-content: center;
    align-items: center;
}

.carousel h2 {
    padding-top: 50px;
}

.carousel p {
    font-weight: bold;
}

.carousel .col-3 {
    align-items: center;
}

.carousel .col-3:first-of-type {
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 3rem;
}

.carousel .col-3:last-of-type {
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 3rem;
}

.carousel .row .col-6>img {
    margin-top: 50px;
    width: 100%;
}

.carousel-loader li {
    display: inline-block;
}

.carousel-loader li:hover {
    cursor: pointer;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #016BFF;
}

/* FEATURES */

.features h2 {
    padding-top: 50px;
    padding-bottom: 10px;
}

.features-row {
    width: 80%;
    margin: auto;
    text-align: center;
}

.features-row>.col-4 .card h4 {
    padding: 10px 0;
}

.features .card {
    width: 90%;
    padding-top: 10px;
    text-align: left;
    padding-bottom: 80px;
}

.features .card p {
    padding-bottom: 10px;
}

.features .card a {
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 50px;
}

/* BENCHMARK */

.benchmark {
    background: rgb(9, 9, 121);
    background: linear-gradient(360deg, rgba(9, 9, 121, 1) 0%, rgba(0, 30, 154, 1) 0%, rgba(0, 71, 197, 1) 100%);
}

.benchmark-row {
    width: 80%;
    padding-bottom: 50px;
}

.benchmark-row h2 {
    padding-top: 50px;
    font-size: 35px;
}

.benchmark .row .col-6>.col-12 {
    width: 90%;
    border-bottom: 1px solid white;
    padding: 10px;
    justify-content: space-between;
}

.benchmark .row .col-6>.col-12 h4, .benchmark .row .col-6>.col-12 p, .benchmark .row .col-6>.col-12 a {
    display: inline-block;
}

.benchmark .row .col-6>.col-12 h4 {
    flex-grow: 1;
    text-align: left;
}

.benchmark .row .col-6>.col-12 p {
    display: inline-block;
    width: 65%;
    text-align: left;
}

.benchmark .row .col-6>.col-12 a {
    text-decoration: none;
    color: #00BDCD;
}

.benchmark .row .col-6>.col-12 p {
    color: #99AFE1
}

/* ABOUT US */

.about-us {
    width: 100%;
}

.about-us .row {
    width: 80%;
    margin: auto;
    position: relative;
}

.about-us h2 {
    font-size: 40px;
    padding: 50px 0;
}

.row-dbg {
    height: 400px;
}

.about-us>.row .col-2 {
    align-items: center;
    justify-content: flex-end;
}

.about-us>.row .col-2:last-of-type {
    align-items: center;
    justify-content: flex-start;
}

.about-us>.row .col-2>i {
    font-size: 50px;
}

.about-us h4:last-of-type {
    font-weight: normal;
}

.about-us a {
    text-decoration: none;
    font-weight: bold;
}

.about-us .row .col-8 {
    justify-content: center;
}

.slideshow {
    width: 90%;
    height: 400px;
    background-color: white;
}

.slideshow>img {
    max-width: 60%;
    padding: 50px;
}

.slideshow p {
    font-size: 25px;
    padding-bottom: 10px;
}

.slideshow h4:last-of-type {
    padding: 5px 0 20px 0;
}

.about-us .carousel-loader {
    padding: 20px 0 80px 0;
}

.about-us .carousel-loader li {
    padding-bottom: 0;
}

/* SIGN UP */

.sign-up {
    height: 200px;
    background: rgb(9, 9, 121);
    background: linear-gradient(360deg, rgba(9, 9, 121, 1) 0%, rgba(0, 30, 154, 1) 0%, rgba(0, 71, 197, 1) 100%);
}

.sign-up h2 {
    font-size: 35px;
    padding: 50px 0 30px 0;
}

.sign-up a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #031C4E;
    position: absolute;
}

footer .row {
    width: 80%;
}

footer img {
    padding-top: 100px;
}

footer .row .col-4 p {
    font-size: 14px;
}

footer .row .col-4 span i {
    font-size: 18px;
    padding: 10px 10px 0 0;
}

footer .col-2 ul {
    list-style: none;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer .col-2 ul>li {
    padding: 5px 0;
}

footer .col-2 ul>li:hover, footer .col-4 i:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

footer .col-2 ul>li:first-of-type {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* HELP BUBBLE */

.helper {
    position: fixed;
    bottom: 150px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: blue;
    background-image: url(../img/shark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 5px;
}
.message-counter {
    display: none;
    position: fixed;
    left: 85px;
    bottom: 190px;
    background-color: red;
    border: 5px solid white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.chat-bubble {
    display: none;
    position: fixed;
    bottom: 95px;
    left: 50px;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.chat-bubble:after {
    content: "";
    position: absolute;
    bottom: 60%;
    left: 227px;
    border-top: 20px solid transparent;
    border-top-color: white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.chat-bubble p {
    font-size: 14px;
}
.helper:hover .chat-bubble, .helper:hover .message-counter {
    display: block;
    cursor: pointer;
}